<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<% if User.find_by_id(current_user.id).active == true %>
<div class="container">
<p><b>you cannot reach this page</b><p>
<div>
<% else %>

<div class="container">

<h2>Events</h2>

<% if is_manager? || is_admin? %>
<%= link_to "New Event", new_event_path, class: "butevent btn btn-primary btn-sm" %>
<% end %>


<br>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<%= form_tag events_path, :method => "get" do %>
<div class="input-group">
<%= text_field_tag :searchevent, params[:searchevent], placeholder: "Enter search text", class: "form-control" %>
<%= submit_tag "Search", class: 'btn btn-success'%>
</div>
<% end %>
</div>




<br>
<br>

<!--a asdas --> 

<div class="container">
<div class="row">

<% @events.each do |event| %>

    <div class="col-lg-4">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title"><%= event.name %></h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-primary">
                            <span class="widget-49-date-day"><%= event.time.strftime("%e") %></span>
                            <span class="widget-49-date-month"><%= event.time.strftime("%b") %></span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title">Location: <%= event.loc_name %></span>
                            <span class="widget-49-meeting-time">Start: <%= event.time.strftime("%H:%M") %> Duration: <%= event.duration %> hours</span>
                            <span class="widget-49-meeting-time">Status: <%= event.status %></span>
                        </div>
                    </div>
                    <ol class="widget-49-meeting-points">
                    
                    <% if event.images.attached? %>
                      <% event.images.each do |image| %>
                        <% if image.representable? %>
                          <image src="<%= (url_for(image)) %>" class="img-fluid img-thumbnail" style="width:90%;">
                        <% end %>
                        <% break %>
                      <% end %>
                    <% end %>
                        
                    </ol>
                    <div class="widget-49-meeting-action">
                      <%= link_to "Details", event, class: "btn btn-sm btn-flash-border-primary" %>
                    </div>

                    <div class="widget-49-title-wrapper">
                    <%= image_tag(event.qr_code) if event.qr_code.attached? %>
                    </div>

                    <div class="widget-49-title-wrapper">
                    <%= render "events/upvote_link", event: event %>
                    <i class="fa fa-heart" style="color:red"></i><%= render "events/votes_score", event: event %>
                      
                    <% if is_admin? %>
                      <%= link_to "", edit_event_path(event), class: "fa fa-edit fa-2x butevent btn btn-primary btn-sm" %>
                      <%= link_to "", event, method: :delete, data: { confirm: "Are you sure?" }, class: "fa fa-trash fa-2x butevent btn btn-primary btn-sm" %>
                    <% end %>
                    
                    <% if is_manager? %>
                      <% if User.find_by_id(event.created_by).email == current_user.email %>
                        <%= link_to "", edit_event_path(event), class: "fa fa-edit fa-2x btn btn-primary btn-sm" %>
                        <%= link_to "", event, method: :delete, data: { confirm: "Are you sure?" }, class: "fa fa-trash fa-2x btn btn-primary btn-sm" %>
                      <% end %>
                    <% end %>
                    
                    </div>

                    
               


                </div>
            </div>
        </div>
    </div>
    <% end %>   
</div>
</div>



<% end %>
<% end %>
<br>
<br>
<br>
<br>
