<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<% if User.find_by_id(current_user.id).active == true %>
<div class="container">
<p><b>you cannot reach this page</b><p>
<div>
<% else %>

<div class="container">

<h2>Events</h2>

<% if is_manager? || is_admin? %>
<%= link_to "New Event", new_event_path, class: "butevent btn btn-primary btn-sm" %>
<% end %>


<br>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<%= form_tag events_path, :method => "get" do %>
<div class="input-group">
<%= text_field_tag :searchevent, params[:searchevent], placeholder: "Enter search text", class: "form-control" %>
<%= submit_tag "Search", class: 'btn btn-success'%>
</div>
<% end %>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<%= form_tag events_path, :method => "get" do %>
  <%= text_field_tag 'search[date_from]', @search.date_from %>
  <%= text_field_tag 'search[date_to]', @search.date_to %>
  <%= submit_tag 'Search', class: 'btn search-button' %>
  <% end %>
</div>
<br>

<br>


<div class="table-div" style="overflow: auto; height: 500px;">
<table class="table table-hover table-responsive">
  <thead class="table-dark" style="position: sticky; top:0">
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Duration</th>
      <th>Location</th>
      <th>Status</th>
      <th>QR</th>
      
      
      <th>Details</th>

      <th>Like</th>
      <th>Likes</th>

      

      <% if is_admin? %>
      <th colspan="2">Options</th>
      <% end %>
      

      <% if is_manager? %>
        <% @events.each do |event| %>
          <% if User.find_by_id(event.created_by).email == current_user.email %>
            <th colspan="2">Options</th>
          <% end %>
        <% end %>
      <% end %>


    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.time %></td>
        <td><%= event.duration %></td>
        <td><%= event.loc_name %></td>
        <td><%= event.status %></td>
        <td><%= image_tag(event.qr_code) if event.qr_code.attached? %></td>
       

        
        <td><%= link_to "Show", event, class: "butshow btn btn-warning btn-sm" %></td>

        <td><%= render "events/upvote_link", event: event %></td>
        <td><%= render "events/votes_score", event: event %></td>
       
        <% if is_admin? %>
          <td><%= link_to "", edit_event_path(event), class: "fa fa-edit fa-2x butevent btn btn-primary btn-sm" %></td>
          <td><%= link_to "Destroy", event, method: :delete, data: { confirm: "Are you sure?" }, class: "butevent btn btn-danger btn-sm" %></td>
        <% end %>
        
        <% if is_manager? %>
          <% if User.find_by_id(event.created_by).email == current_user.email %>
            <td><%= link_to "Edit", edit_event_path(event), class: "butevent btn btn-primary btn-sm" %></td>
            <td><%= link_to "Destroy", event, method: :delete, data: { confirm: "Are you sure?" }, class: "butevent btn btn-danger btn-sm" %></td>
          <% end %>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
</div>

<% end %>
<% end %>
<br>
<br>
<br>
<br>
